<a href="https://colab.research.google.com/github/suraj050903/pyhton_new/blob/module_1/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# write a python program to find power of number with recursion and without recursion(input n=2 , p=3)

In [ ]:
def power(a,b):
  f=1
  if b>=1:
    f=a*power(a,b-1)
  return f

a=int(input("Enter base number: "))
b=int(input("Enter power: "))
print(power(a,b))

Enter base number: 7
Enter power: 3
343

#write a program to sort tuple by total digits (input: list=[(3,4,6,723),(1,2),(134,234,34)]) output:[(1,2)(3,4,6,723)(34,134,234)]

In [ ]:
list=[(3,4,6,723),(1,2),(134,234,34)]
for i in range(0,len(list)):
    list[i]=sorted(list[i])
print(sorted(list))

[[1, 2], [3, 4, 6, 723], [34, 134, 234]]

In [ ]:
a=int(input("enetr the marks for sub 1 ="))
b=int(input("enetr the marks for sub 2 ="))
c=int(input("enetr the marks for sub 3 ="))
d=int(input("enetr the marks for sub 4 ="))
e=int(input("enetr the marks for sub 5 ="))
avg=(a+b+c+d+e)/5
if avg>=90:
  print("O")
if avg>=89 and avg>=80:
  print("A+")
if avg>=79 and avg>=70:
  print("A")
if avg<=69:
  print("fail")

enetr the marks for sub 1 =80
enetr the marks for sub 2 =80
enetr the marks for sub 3 =80
enetr the marks for sub 4 =80
enetr the marks for sub 5 =80
A

In [ ]:
a=int(input("enetr 1st the number ="))
b=int(input("enetr 2nd the number ="))
c=int(input("enetr 3rd the number ="))
if a<b<c:
  print("1")
else:
  ("enter correct sequence")

enetr 1st the number =2
enetr 2nd the number =4
enetr 3rd the number =5
1

In [ ]:
a=int(input("enetr 1st the number ="))
b=0
for i in range(1,a):
   if a%i==0:
         b=b+i
if b==a:
       print("perfect number")
else:
       print("not a perfect number")

enetr 1st the number =28
perfect number